<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-back" [routerLink]="['/login']"></ion-icon>
        <ion-title>signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <ion-item>
            <ion-label position="floating">Pseudo</ion-label>
            <ion-input type="text" placeholder="Pseudo" formControlName="username"></ion-input>
        </ion-item>
        <div *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('required')">Vous devez saisir un pseudo</div>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">Vous devez saisir un mot de passe</div>
        <div [formGroup]="passwordForm">
            <ion-item>
                <ion-label position="floating">Mot de passe</ion-label>
                <ion-input type="password" formControlName="password" placeholder="Mot de passe"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Répéter le mot de passe</ion-label>
                <ion-input type="password" formControlName="confirm" placeholder="Répéter le mot de passe"></ion-input>
            </ion-item>
            <div *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">Les mots de passe doivent etre
                identiques</div>
        </div>
        <ion-button expand="full" color="primary" type="submit">S'enregistrer</ion-button>
    </form>

</ion-content>