<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="list">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Liste</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="search"></ion-icon>
            <ion-label>Carte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="filter">
            <ion-icon name="add"></ion-icon>
            <ion-label>Recherche</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>